html {
    margin: 40px auto;
  }
  .btn-search {
        background: #424242;
        border-radius: 0;
        color: #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #1c1c1c;
      }

        .btn-search:link, .btn-search:visited {
        color: #fff;
      }  
      .btn-search:active, .btn-search:hover {
        background: #1c1c1c;
        color: #fff;
      }  

      .btn-bgk{
        background-color: #424242 !important;
      }

      .cover-container {
        height: 180px;
        width: 100%;
        white-space: nowrap;
       /* overflow-x: scroll;
        overflow-y: hidden;*/
    }
    .cover-item {
        position: relative;
        display: inline-block;
        margin: 8px 8px;
        box-shadow: 2px 2px 4px #bbb;
        border-top-right-radius: 4px;
        width: 116px;
        height: 158px;
        vertical-align: bottom;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }