<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input
      type="text"
      class="form-control"
      [(ngModel)]="newServerName"
      class="margin-10"
    /> -->
    <!-- LOCAL REFERENCE EXAMPLE -->
    <input type="text" class="form-control" class="margin-10" #serverName />
    <label>Server Content</label>
    <!-- <input
      type="text"
      class="form-control"
      [(ngModel)]="newServerContent"
      class="margin-10"
    /> -->
    <input
      type="text"
      class="form-control"
      class="margin-10"
      #serverContent
    />
    <br />
    <button class="btn btn-primary margin-10" (click)="onAddServer(serverName)">
      Add Server
    </button>
    <button class="btn btn-primary margin-10" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
  </div>
</div>
